.icon-home3:before {
    content: "\e900";
}
.icon-file-text:before {
    content: "\e901";
}
.icon-file-text2:before {
    content: "\e902";
}
.icon-stack:before {
    content: "\e903";
}
.icon-equalizer:before {
    content: "\e904";
}
.icon-cog:before {
    content: "\e905";
}
.icon-menu:before {
    content: "\e906";
}
.icon-star-full:before {
    content: "\e907";
}
.icon-heart:before {
    content: "\e908";
}
.icon-google-plus3:before {
    content: "\e909";
}
.icon-facebook2:before {
    content: "\e90a";
}
.icon-tumblr2:before {
    content: "\e90b";
}
.icon-git:before {
    content: "\e90c";
}