.user-avatar {
  width: 32px;
  height: 32px;
  margin: 5px auto auto;
  padding: 0;
  display: inline-block;
  background-repeat: no-repeat no-repeat;
  pointer-events: none;
}

#license-footer {
  align-self: flex-end;
  padding: 16px 32px;
  width: 100%;
  text-align: left;
  font-size: small;
  border-top: 1px solid #ddd;
}
