<!doctype html>
<!--
  ~    Copyright 2016 Unicode4all
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
  -->

<html lang="en" ng-app="unisite">

<head>
    <link rel="stylesheet" href="/webjars/angular-material/1.1.0-rc1/angular-material.min.css">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.0-rc1/angular-material.css">-->
    <link href="/webjars/angular-material-icons/0.6.0/angular-material-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <base href="/">
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body ng-controller="Index as indexcontroller" ng-cloak layout="column" layout-fill>
<noscript>
    <p>
    <h1>This site requires JavaScript</h1>
    </p>
</noscript>
    <header>
<md-toolbar class="md-theme-indigo">
    <div class="md-toolbar-tools">
        <md-button ng-click="openLeftMenu()" class="md-icon-button menu" hide-gt-sm>
            <ng-md-icon icon="menu" style="fill: white" size="24"></ng-md-icon>
        </md-button>
        <h2>Unicode4all's Blogs</h2>
        <span flex></span>
        <section ng-show="!authenticated">
        <md-menu>
            <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button">
                <md-tooltip>User Menu</md-tooltip>
                <ng-md-icon icon="account_circle" style="fill: white" size="24"></ng-md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                       <md-button ng-click="showLoginDialog($event, $mdDialog)">
                            Login
                       </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

        </section>
        <section ng-show="authenticated">
            <md-menu>
                <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button">
                    <md-tooltip>User Menu</md-tooltip>
                    <ng-md-icon icon="account_circle" style="fill: white" size="24"></ng-md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="indexcontroller.logout()">
                            Logout
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

        </section>


    </div>
</md-toolbar>
    </header>
<main layout="row" flex>
    <md-sidenav md-component-id="left" class="md-sidenav-left md-whiteframe-z2" md-swipe-left="openLeftMenu()"
                md-is-locked-open="$mdMedia('gt-sm')">
        <!--
        <md-toolbar class="md-theme-indigo">
            <div class="md-toolbar-tools">
                <h1>Navigation</h1>
            </div>
        </md-toolbar>
        -->
        <md-menu-item ng-repeat="page in pages">
            <md-button ng-href="{{page.url}}" aria-label="{{page.name}} " class="menu">
                {{page.name}}
            </md-button>
        </md-menu-item>

    </md-sidenav>
        <md-content scroll-y layout="column" flex>

        <div ng-view layout="column" flex>
            
            </div>

        
            
    </md-content>
    
</main>

    

<script src="/webjars/angularjs/1.5.0/angular.js"></script>
<script src="/webjars/angularjs/1.5.0/angular-animate.js"></script>
<script src="/webjars/angularjs/1.5.0/angular-aria.js"></script>
<script src="/webjars/angularjs/1.5.0/angular-route.js"></script>
<script src="/webjars/angularjs/1.5.0/angular-messages.js"></script>
<script src="/webjars/angular-material/1.1.0-rc1/angular-material.min.js"></script>
<script src="/webjars/angular-material-icons/0.6.0/angular-material-icons.js"></script>
<!--
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular-aria.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular-messages.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.0-rc1/angular-material.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js"></script>
    -->
<script src="resources/js/config/application.js"></script>
<script src="resources/js/controllers/index.js"></script>
<script src="resources/js/controllers/about.js"></script>
<script src="resources/js/controllers/blog.js"></script>
<script src="resources/js/controllers/login.js"></script>
<script src="resources/js/controllers/signup.js"></script>
<script src="resources/js/config/routes.js"></script>

<script src="resources/js/directives/pw-check.js"></script>
    <!--
    <script src="js/config/application.js"></script>
<script src="js/controllers/index.js"></script>
<script src="js/controllers/about.js"></script>
<script src="js/controllers/blog.js"></script>
<script src="js/controllers/login.js"></script>
<script src="js/controllers/signup.js"></script>
<script src="js/config/routes.js"></script>
-->
</body>

</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->