<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout.html">
<head>
    <title>Content page 1</title>
</head>
<body>

<!-- Modal -->
<section layout:fragment="content">
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Login</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <header class="intro-header" th:style="'background-image: url(' + @{/resources/img/home-bg.jpg} + ')'">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Clean Blog</h1>
                        <hr class="small" />
                        <span class="subheading">A Clean Blog Theme by Start Bootstrap</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div th:if="${#vars['successMessage']}" class="alert alert-success" th:text="${#vars['successMessage']}" />
        <div th:if="${#vars['logout']}" class="alert alert-success" th:text="${#vars['logout']}" />
    <div class="row">

        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modals</button>
            <div th:if="${#lists.isEmpty(posts)}">
                <h1>There's nothing here yet.</h1>
            </div>
            <div th:each="post : ${posts}" class="post-preview">
                <a th:href="@{/blog/} + ${post.name} + '.html'">
                    <h2 class="post-title">
                        <span th:text="${post.title}" />
                    </h2>
                </a>
                <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 24, 2014</p>
            </div>
            <hr />
            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="#">Older Posts &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
        </div>
</section>
<footer>
    Test
</footer>
</body>
</html>