<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout.html">
<head>
    <title>Content page 1</title>
</head>
<body>
<section layout:fragment="content">

    <header class="intro-header" th:style="'background-image: url('+@{/resources/img/} + ${post.imagePath} +')'">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1><span th:text="${post.title}"/></h1>
                        <h2 class="subheading">Problems look mighty small from 150 miles up</h2>
                        <span class="meta">Posted on <span
                                th:text="${#dates.format(post.date, 'YYYY-MM-dd')}"/></span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Content -->
    <div class="container">
        <article>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <span th:utext="${post.text}"/>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
<footer>
    Test
</footer>
</body>
</html>