<md-subheader class="md-primary">Blog Posts</md-subheader>
<md-content class="md-padding" layout-xs="column" layout="row">
            <div flex-xs flex-gt-sm="50" layout="column">
                <md-card ng-repeat="post in posts">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{ post.title }}</span>
                            <span class="md-subhead">Large</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-lg card-media"></div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-content>
                        {{ post.text }}
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button>Expand</md-button>

                        <md-button>Action 2</md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </md-content>