<md-dialog aria-label="Mango (Fruit)"  ng-cloak>
            <form role="form" ng-submit="controller.login()">
                <md-dialog-content style="max-width:800px;max-height:810px; ">
                    <md-content class="md-dialog-content">
                        <h1>Login</h1>
                <md-input-container class="md-block">
                    <label>Email</label>
                    <input required type="email" maxlength="50" required name="username" ng-model="controller.credentials.username" ng-pattern="/^.+@.+\..+$/">
                    <div ng-messages="email.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message-exp="['required', 'maxlength', 'pattern']">
                            Your email must be between 10 and 100 characters long and look like an e-mail address.
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Password</label>
                    <input required type="password" name="password" ng-model="controller.credentials.password">
                    <div ng-messages="password.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <div ng-show="error">Invalid username or password</div>
                    <div class="g-recaptcha" data-sitekey="6LeSNf4SAAAAAI-AAh7ZNmtAhRYHGpCPXfQyHDuW"></div>
                </md-input-container>
                        <div layout="row" layout-align="end center">
                            <md-button  ng-click="cancel()">Cancel</md-button>
                            <md-button type="submit">Login</md-button>
                        </div>
                        </md-content>
                    </md-dialog-content>
            </form>
    </md-dialog>