<md-content layout="row" flex layout-align="center center">
<md-card>
    <md-card-content>
        <form name="registerForm">
            <md-input-container>
                <label>Email</label>
                <input required type="email" name="clientEmail" ng-model="user.name" ng-pattern="/^.+@.+\..+$/">
                <div ng-messages="registerForm.clientEmail.$error" role="alert">
                    <div ng-message-exp="['required', 'pattern']">
                        Enter a valid email address.
                    </div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Username</label>
                <input type="text" name="username" required ng-model="user.username">
                <div ng-messages="registerForm.username.$error" role="alert">
                    <div ng-message-exp="['required']">
                        This is required field.
                    </div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Password</label>
                <input required type="password" name="password" ng-model="user.password" />

            </md-input-container>
            <md-input-container class="md-block">
                <label>Confirm password</label>
                <input required type="password" name="password2" compare-to="user.password" ng-model="user.password2" />
                <div ng-messages="registerForm.username.$error" role="alert">
                    <div ng-message="compareTo">
                        The passwords doesn't match.
                    </div>
                </div>
            </md-input-container>

            <div class="g-recaptcha" data-sitekey="6LeSNf4SAAAAAI-AAh7ZNmtAhRYHGpCPXfQyHDuW"></div>
            <div>
                <md-button ng-disabled="registerForm.$invalid" >Register</md-button>
            </div>
        </form>
    </md-card-content>
</md-card>
    </md-content>