<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html  xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Content page 1</title>
</head>
<body>
    <!--BEGIN CONTENT-->
    <div class="page-content">
        <div id="tab-general">
            <div class="row mbl">
                <div class="col-lg-12">

                    <div class="col-md-12">
                        <div id="area-chart-spline" style="width: 100%; height: 300px; display: none;">
                        </div>
                    </div>

                </div>

                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="panel panel-yellow">
                                <div class="panel-heading">Simple Table</div>
                                <div class="panel-body">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr >
                                            <th>#</th>
                                            <th>Machine name</th>
                                            <th>Title</th>
                                            <th>Published</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="post : ${posts}">
                                            <td th:text="${post.id.toString()}"></td>
                                            <td th:text="${post.name}"></td>
                                            <td th:text="${post.title}"></td>
                                            <td th:if="${post.blogParams.isPublished} == true"><span class="label label-sm label-success">Published</span></td>
                                            <td th:if="${post.blogParams.isPublished} == false"><span class="label label-sm label-danger">Not published</span></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--END CONTENT-->
</body>
</html>